html{
    scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
    --primary: #007bff;
    --primary-dark: #0056d2;
    --text: #111;
    --bg: #f8f9fc;
    --section-bg: #ffffff;
    --card-bg: #f9f9f9;
}

body {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-optical-sizing: auto;
  line-height: 1.6;
  /* background-color: var(--bg);
  background-image: radial-gradient(#d6e1ed 1px, transparent 1px);
  background-size: 20px 20px; */
  color: var(--text);
  padding : 20px;
}

nav {
    position: sticky;
    top: 0;
    background-color: var(--bg);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    box-shadow: 0 2px 4px rgba(0, 0.1, 0.1, 0.1);
    backdrop-filter: blur(80px);
}

nav h1{
    margin: 10px 10px;
}

nav ul{
    display: flex;
    list-style: none;
    margin: 10px 10px;
    gap: 20px;
}
nav a{
    position: relative;
    text-decoration: none;
    color: var(--text);
    font-weight: bold;
    padding: 0 0 4px 0;
}

nav a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 2px;
    background-color: var(--primary);
    transition: width 0.2s ease;
}
nav a:hover::after{
    width: 100%;
}

#hero{
    text-align: center;
    margin: 80px 0;
}

#hero h2 {
    font-size: 3rem;
    font-weight: 525;
    letter-spacing: 2px;
    margin-bottom: 20px;
}

#hero p{
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--text);
    margin-bottom: 20px;
}

#hero a {
    text-decoration: none;
    padding: 12px 24px;
    border: 2px solid var(--text);
    border-radius: 30px;
    margin: 10px;
    display: inline-block;
    font-weight: 600;
    background-color: var(--primary);
    color: var(--bg);
    transition: all 0.2s ease;
}

#hero a:hover {
    background-color: var(--primary-dark);
    border-color: var(--primary-dark);
    transform: translateY(5px);
    box-shadow: 0 2px 2px var(--bs);
    cursor: pointer;
}

#about {
    max-width: 800px;
    margin: 60px auto;
    text-align: center;
}

#about h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

#about p {
    font-size: 1.3rem;
    line-height: 1.6;
        font-weight: 500;

}

#skills {
    max-width: 800px;
    margin: 60px auto;
    text-align: center;
}

#skills h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

#skills ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

#skills li {
    background-color: #f0f0f0;
    padding: 10px 20px;
    border: 2px solid;
    border-color: var(--text);
    border-radius: 100px;
    font-weight: 500;
}

#skills li:hover {
    transform: translateY(5px);
    background-color: #888585;
    box-shadow: 0 2px 2px rgba(0, 123, 255, 0.28);
    transition: all 0.2s ease;
}

i {
    font-size: 25px;
}

#projects {
    max-width: 900px;
    margin: 60px auto;
    text-align: center;
}

#projects h2 {
    font-size: 2rem;
    margin-bottom: 30px;
}

#projects div {
    background-color: var(--card-bg);
    padding: 20px;
    border: 2px solid;
    border-color: var(--text);
    border-radius: 60px;
}

#projects h3 {
    font-size: 1.3rem;
    margin-bottom: 10px;
}

#projects p {
    font-size: 1.3rem;
    margin-bottom: 15px;
}

#projects a {
    text-decoration: none;
    padding: 10px 20px;
    border: 2px solid;
    border-color: var(--primary);
    border-radius: 6px;
    color: var(--primary);
    font-weight: 600;
}

#projects a:hover {
    background-color: var(--primary);
    color: white;
    cursor: pointer;
}

#projects div:hover {
    transform: translateY(5px);
    box-shadow: 0 4px 14px rgba(0, 123, 255, 0.28);
    transition: all 0.2s ease;
}

#contact {
    max-width: 800px;
    margin: 60px auto;
    text-align: center;
}

#contact h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

#contact p{
    font-size: 1.2rem;
    margin-bottom: 15px;
    font-weight: 600;

}

#contact ul {
    list-style: none;
    padding: 0;
    font-weight: 600;

}

#contact li {
    margin-bottom: 5px;
    font-weight: 600;
}

#contact a{
    color: var(--primary);
    text-decoration: none;
}

#contact a:hover {
    text-decoration: underline;
    color: var(--primary-dark);
    cursor: pointer;
}

footer {
    text-align: center;
    padding: 20px 0;
    background-color: #f0f0f0;
    margin-top: 60px;
    font-size: 0.85rem;
    color: #555;
}

@media (max-width: 600px) {
    #skills ul {
        flex-direction: column;
        align-items: center;
    }
    #projects div{
        width: 90%;
        margin: 10px auto
    }
    body {
        padding: 10px;
    }
}

#bg-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  opacity: 0.85;
  pointer-events: none;
}
#video-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.40);
  z-index: -1;
}

#bg-video::after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(255, 254, 254);
  z-index: -1;
}