* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: white;
  color: black;
  padding : 20px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

nav ul{
    display: flex;
    list-style: none;
    gap: 20px;
}
nav a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

#hero{
    text-align: center;
    margin: 80px 0;
}

#hero h2 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

#hero p{
    font-size: 1.2rem;
    margin-bottom: 20px;
}

#hero a {
    text-decoration: none;
    padding: 12px 24px;
    border: 2px solid #333;
    border-radius: 30px;
    margin: 10px;
    display: inline-block;
    font-weight: 600;
    background-color: #007bff;
    color: white;
}

#hero a:hover {
    background-color: blue;
    border-color: blue;
}