* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: white;
  color: black;
  padding : 20px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

nav ul{
    display: flex;
    list-style: none;
    gap: 20px;
}
nav a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}